@model DBO.Data.Models.Skill

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>@ResourceString.Instance.Delete</h2>

<h3>@ResourceString.Instance.AreYouSure</h3>
<div>
    <h4>@ResourceString.Instance.Skill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@ResourceString.Instance.Delete" class="btn btn-default" /> |
            @Html.ActionLink((string)ResourceString.Instance.BackToList, "Index")
        </div>
    }
</div>
