@model IEnumerable<DBO.Data.Models.Skill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<h2>@ResourceString.Instance.Index</h2>

<p>
    @Html.ActionLink((string)ResourceString.Instance.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink((string)ResourceString.Instance.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink((string)ResourceString.Instance.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
